<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="tealium-cordova-adidentifier" version="1.1.1" name="tealium-cordova-adidentifier">

    <name>TealiumAdIdentifier</name>
    <description>Tealium Tag Management and UDH</description>
    <keywords>tealium, tag, management,iOS,Android</keywords>
    <repo>https://github.com/Tealium/cordova-plugin.git</repo>
    <issue>https://github.com/Tealium/cordova-plugin/issues</issue>

    <license>Commercial</license>

    <engines>
        <engine name="cordova" version=">=3.8.0" />
    </engines>    

    <js-module src="www/TealiumAdIdentifier.js" name="tealium">
        <clobbers target="window.tealiumAdIdentifier" />
    </js-module>
        

    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="TealiumPgAdIdentifier" string="TealiumPgAdIdentifier" />
        <config-file target="config.xml" parent="plugins">
            <plugin name="TealiumPgAdIdentifier" value="TealiumPgAdIdentifier"/>
            <feature name="TealiumPgAdIdentifier">
                <param name="ios-package" value="TealiumPgAdIdentifier" />
            </feature>
        </config-file>
        <header-file src="src/ios/tealium_adidentifier.h" />
        <source-file src="src/ios/tealium_adidentifier.m" />
        <framework src="AdSupport.framework" weak="true" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="TealiumPgAdIdentifier">
                <param name="android-package" value="org.apache.cordova.plugin.TealiumPgAdIdentifier"/>
            </feature>
        </config-file>
        <framework src="src/android/tealium.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/TealiumPgAdIdentifier.java" target-dir="src/org/apache/cordova/plugin" />
     </platform>
</plugin>