<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="tealium-cordova-installreferrer" version="1.1.1" name="tealium-cordova-installreferrer">

    <name>TealiumInstallReferrer</name>
    <description>Tealium Tag Management and UDH</description>
    <keywords>tealium, tag, management,iOS,Android</keywords>
    <repo>https://github.com/Tealium/cordova-plugin.git</repo>
    <issue>https://github.com/Tealium/cordova-plugin/issues</issue>

    <license>Commercial</license>

    <engines>
        <engine name="cordova" version=">=3.8.0" />
    </engines>    

    <js-module src="www/TealiumInstallReferrer.js" name="tealium">
        <clobbers target="window.tealiumInstallReferrer" />
    </js-module>
        
    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="TealiumPgInstallReferrer">
                <param name="android-package" value="org.apache.cordova.plugin.TealiumPgInstallReferrer"/>
            </feature>
        </config-file>
        <framework src="src/android/tealium.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/TealiumPgInstallReferrer.java" target-dir="src/org/apache/cordova/plugin" />
     </platform>
</plugin>