<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="tealium-cordova-plugin" version="1.1.4" name="tealium-cordova-plugin">

    <name>TealiumCordova</name>
    <description>Tealium Tag Management and UDH</description>
    <keywords>tealium, tag, management,iOS,Android</keywords>
    <repo>https://github.com/Tealium/cordova-plugin.git</repo>
    <issue>https://github.com/Tealium/cordova-plugin/issues</issue>

    <license>Commercial</license>

    <engines>
        <engine name="cordova" version=">=3.8.0" />
    </engines>

    <js-module src="www/tealium.js" name="tealium">
        <clobbers target="window.tealium" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova < 2.3 -->
        <plugins-plist key="TealiumPg" string="TealiumPg" />
        <!-- Cordova >= 2.3 -->
        <config-file target="config.xml" parent="plugins">
            <plugin name="TealiumPg" value="TealiumPg"/>
            <feature name="TealiumPg">
                <param name="ios-package" value="TealiumPg" />
            </feature>
        </config-file>
        <header-file src="src/ios/tealium_int.h" />
        <source-file src="src/ios/tealium_int.m" />
        <framework src="Foundation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <podspec>
          <config>
            <source url="https://github.com/CocoaPods/Specs.git"/>
          </config>
          <pods use-frameworks="true">
            <pod name="TealiumIOS" spec="5.8.1"/>
            <pod name="TealiumIOSLifecycle" spec="5.8.1"/>
          </pods>
        </podspec>

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="TealiumPg">
                <param name="android-package" value="org.apache.cordova.plugin.TealiumPg"/>
            </feature>
        </config-file>
        <framework src="src/android/tealium.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/TealiumPg.java" target-dir="src/org/apache/cordova/plugin" />
     </platform>
</plugin>
